<div relative>
  <div flex color-white relative>
    <div header-body-color h-22 grow>
      <div absolute top-2 right-10 font-size-7 id="headerDate"></div>
      <div absolute bottom-3 right-12>
        <div bg-header-box-default class="headerBox"></div>
        <div bg-header-box-second class="headerBox"></div>
        <div bg-header-box-third class="headerBox"></div>
        <div bg-header-box-fourth class="headerBox"></div>
      </div>
    </div>
    <div bg-header-right-line w-6></div>
  </div>
  <div border-b="2 solid" header-bottom-color h-6>
    <div absolute font="arial size-14" color-white left-1.5 top-10.2>today</div>
  </div>
</div>

<style>
  .headerBox {
    @apply inline-block h-3 w-3 ml-3
  }
</style>
