:root {
  --body-color: rgba(255, 255, 255, 0.8);
  --navbar-color: #021fac;
  --navbar-border-color: #1b35b4;
  --navbar-menu-color: #bcb9bc;
  --navbar-menu-hover-color: gray;
  --header-body-color: linear-gradient(90deg, rgba(112, 205, 84, 1) 0%, rgba(0, 121, 215, 1) 69%);
  --header-body-fallback-color: pink;
  --header-box-default-color: #f3dbd0;
  --header-box-second-color: #ffd8ac;
  --header-box-third-color: #e9bd2e;
  --header-box-fourth-color: #ff7800;
  --header-right-line-color: #fcd600;
  --header-bottom-line-color: linear-gradient(90deg, rgba(0, 121, 215, 1) 35%, rgba(252, 214, 0, 1) 84%);
  --header-bottom-line-fallback-color: rgb(0, 121, 211);
  --footer-color: #bcb9bc;
}

@font-face {
  font-family: "tahoma";
  src: url("assets/font/fs-tahoma-8px-v2/fs-tahoma-8px-v2.ttf") format("truetype");
}

@font-face {
  font-family: "SerenityOS-Emoji";
  src: url("assets/font/SerenityOS-Emoji/SerenityOS-Emoji.ttf") format("truetype");
}

emoji {
  font-family: "SerenityOS-Emoji";
  font-size: 20px;
}

html {
  background-image: url("assets/background.jpg");
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  margin: auto;
  background: var(--body-color);
}

.border {
  font-family: "tahoma";
  display: flex;
  flex-direction: column;
}

.navbar {
  border-bottom: 3px solid var(--navbar-border-color);
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  width: 100%;
  position: sticky;
  top: 0;
  color: white;
  font-weight: 500;
  font-size: 30px;
  z-index: 99;
}

.navbarMenuWrapper {
  position: relative;
}

.navbarMenu {
  margin-left: 10px;
}

@keyframes growDown {
  from {
    transform: translateY(-1%);
    opacity: 0.25;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbarMenuDropdown {
  animation: growDown 70ms ease-in-out;
  display: none;
  border: 2px solid black;
  border-top: none;
  border-left: none;
  position: absolute;
  background-color: var(--navbar-menu-color);
  min-width: 195px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbarMenuDropdown a {
  color: black;
  padding: 9px 16px;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-evenly;
  gap: 5px;
}

.navbarMenuDropdown a:hover {
  background-color: var(--navbar-menu-hover-color);
}

.navbarTime {
  margin-right: 10px;
}

.headerWrapper {
  position: relative;
}

.header {
  display: flex;
  color: white;
  position: relative;
}

.headerLeft {
  background: var(--header-body-fallback-color);
  background: var(--header-body-color);
  height: 100px;
  flex-grow: 1;
}

.headerDate {
  position: absolute;
  top: 8px;
  right: 40px;
  font-weight: 300;
  font-size: 30px;
}

#headerBoxes {
  position: absolute;
  bottom: 13px;
  right: 45px;
  font-size: 18px;
}

#headerBox {
  display: inline-block;
  background: var(--header-box-default-color);
  height: 15px;
  width: 15px;
  margin-left: 15px;
}

.headerRight {
  background: var(--header-right-line-color);
  height: 100px;
  width: 30px;
  order: 3;
}

.headerBottom {
  border-bottom: 2px solid black;
  background: var(--header-bottom-line-fallback-color);
  background: var(--header-bottom-line-color);
  height: 30px;
  margin-bottom: 10px;
}

.headerBottomToday {
  color: white;
  font-family: Arial;
  left: 10px;
  top: 53px;
  font-size: 50px;
  position: absolute;
}

.pageWrapper {
  padding-bottom: 40px;
  overflow: auto;
}

.contentTitle {
  font-size: 30px;
  margin-left: 10px;
}

.contentDescription {
  font-size: 30px;
  font-weight: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.socials {
  font-size: 33px;
  font-weight: 400px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.socials a {
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 6px;
  float: left;
  background-color: #8a8a8a1d;
  border: none;
  padding: 8px;
  border-radius: 15px;
  margin: 2px 2px;
  cursor: pointer;
}

.footerWrapper {
  position: absolute;
}

.footer {
  border-top: 2px solid black;
  background-color: var(--footer-color);
  align-content: center;
  text-align: center;
  height: 40px;
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  bottom: 0;
  left: 0;
  position: fixed;
}

@media only screen and (min-width: 1300px) {
  body {
    background-image: url("assets/background.jpg");
  }
  
  .border {
    position: absolute;
    left: 50%;
    border-right: 3px solid;
    border-left: 3px solid;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background: none;
  }

  .border {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 3px solid;
    border-radius: 15px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 60%;
    max-height: 90%;
  }

  .navbar {
    border-radius: 12px 12px 0px 0px;
  }

  .navbarMenuDropdown {
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-radius: 0px 0px 15px 0px;
  }

  .headerBottom {
    border-bottom: 3px solid black;
  }

  .pageWrapper {
    border-radius: 0px 0px 15px 15px;
    background: rgba(255, 255, 255, 0.8);
  }

  .footer {
    border-top: 3px solid black;
    border-radius: 0px 0px 13px 13px;
  }
}
