---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";

import '@unocss/reset/eric-meyer.css'
---

<!doctype html>
<html body-background h-full lang="en">
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body bg-body h-full m-auto m-0>
    <div font-tahoma class="border">
      <Navbar />
      <div pb-10 overflow-auto class="pageWrapper" transition:animate="initial">
        <div class="content">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>

<script>
  import "../lib/lain.ts";
</script>

<style is:global>
  @font-face {
    font-family: "tahoma";
    src: url("/font/fs-tahoma-8px-v2/fs-tahoma-8px-v2.ttf") format("truetype");
  }

  @font-face {
    font-family: "SerenityOS-Emoji";
    src: url("/font/SerenityOS-Emoji/SerenityOS-Emoji.ttf") format("truetype");
  }

  emoji {
    font-family: "SerenityOS-Emoji";
    font-size: 1.5rem;
  }

  .content h1 {
    @apply font-size-8 font-semibold ml-2.5 mt-1.5 mb-1
  }

  .content p {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
  }

  @media only screen and (min-width: 1300px) {
    body {
      background-image: url("/background.jpg");
    }

    .border {
      position: absolute;
      left: 50%;
      border-right: 3px solid;
      border-left: 3px solid;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 30%;
    }
  }

  @media only screen and (min-width: 800px) {
    body {
      background: none !important;
    }

    .border {
      position: absolute;
      left: 50%;
      top: 50%;
      border: 3px solid;
      border-radius: 15px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 60%;
      max-height: 90%;
    }

    .navbar {
      border-radius: 12px 12px 0px 0px;
    }

    .navbarMenuDropdown {
      border: 3px solid black;
      border-top: none;
      border-left: none;
      border-radius: 0px 0px 15px 0px;
    }

    .headerBottom {
      border-bottom: 3px solid black;
    }

    .pageWrapper {
      border-radius: 0px 0px 15px 15px;
      background: rgba(255, 255, 255, 0.8);
    }

    .footer {
      border-top: 3px solid black;
      border-radius: 0px 0px 12px 12px;
    }
  }
</style>
